html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html,body {
    height: 100%;
}

body {
    line-height:1;
    background-color: #151515;
    font-family: "Poppins", Helvetica, Arial;
    color: #fff;
    
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

p {
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.clearfix:after, .input-group:after, .btn-group:after, .container:after, .row:after, .full-container:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  font-size: 3.8em;
  line-height: 1.1;
}

h3 {
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.2;
}

h4 {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.3;
}

.ttm-block h4 {
  line-height: 1.5;
}

h5 {
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: .2em;
  line-height: 1.2;
  text-transform: uppercase;
}

h6 {
  font-weight: 700;
  font-size: 1.1em;
  color: #F4484F;
  letter-spacing: .3em;
  text-transform: uppercase;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

b, .bold {
    font-weight: 700;
}

button, input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top:-2px;
    margin-bottom: -2px;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

/* *********************************************************************************************************************
    One% CSS Grid - 12 Columns Fluid CSS Grid System

    Why One% ? Let’s count ...
        we have 12 columns (magic number divided by 2, 3, 4, 6)

        for 12 columns we need 11 margins

        so if we count margin 3%, then 3% * 11 margins = 33%

        and if we count width of 1 column 5.5%, than 5.5% * 12 columns = 66%

        in the end we have 33% + 66% = 99% aaand ???

        1% is still here so that's the name - One%

    2 starting options ? Let’s count a bit more ...
        1200px - perfectly fits 1280 screens
            12 columns
            margin 3% / 36px (full-width)
            col1 5.5% / 66px (full-width)

        1000px - perfectly fits 1024 screens
            12 columns
            margin 3% / 30px (full-width)
            col1 5.5% / 55px (full-width)
*/





/* *********************************************************************************************************************
 * Main container for all
 */
.onepcssgrid-1000, .onepcssgrid-1200 {
    margin: 0 auto;
    padding: 0 0 0 1%; /* THAT'S THE NAME ;) */
}

.onepcssgrid-1200 {
    max-width: 1220px;
}

.onepcssgrid-1000 {
    max-width: 1020px;
}

.onerow {
    clear: both;
    padding: 0 10px;
    position: relative;
}

.row {
  position: relative;
}

.rir-adjust .onerow {
    padding: 0;
}




/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    float: left;
    margin: 0 3% 0 0;
    position: relative;
}

.col1:last-child, .col2:last-child, .col3:last-child, .col4:last-child, .col5:last-child, .col6:last-child, .col7:last-child, .col8:last-child, .col9:last-child, .col10:last-child, .col11:last-child, .col12 {
    margin-right: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
    .onepcssgrid-1000 {
        max-width: 1000px;
    }

    .onepcssgrid-1000 .onerow {
        padding: 0;
    }
}


/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {
    .onerow {
    }

    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
        float: none;
        width: 99%;
    }
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    right: 0px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
}

.slick-dots li button
{
    display: block;

    width: 8px;
    height: 8px;
    padding: 0px 3px;
    border-radius: 50%;

    cursor: pointer;

    color: transparent;
    border: solid 1px #e0c080;
    outline: none;
    background: transparent;
}

.slick-dots li.slick-active button {
    background-color: #e0c080;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.btn {
  display: inline-block;
  font-family: "Poppins", Helvetica, Arial;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 15px;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: 800;
  border-radius: 4px;
  user-select: none;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.btn.btn-no-bg {
  color: #ffc600;
  background: transparent;
  padding: 18px 35px;
  box-shadow: rgba(0,0,0,0.24) 0 4px 12px 0;
}

.btn.btn-primary {
  color: #fff;
  background-color: #F4484F;
  padding: 14px 30px;
  box-shadow: rgba(0,0,0,0.24) 0 4px 12px 0;
  border-radius: 100px;
}

.btn.btn-primary.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: rgba(0,0,0,0) 0 4px 12px 0;
}

.btn.full-btn {
  width: 100%;
}

.btn.btn-sm {
  color: #fff;
  background: #e9ad57;
  padding: 9px 20px;
  box-shadow: rgba(0,0,0,0.24) 0 4px 12px 0;
}

.btn.btn-icon {
  color: #20293e;
  background: transparent;
  padding: 3px 0;
}

.btn.btn-icon i {
  margin-left: 5px;
}

.btn.btn-primary:hover {
  background: rgb(255,255,255);
  box-shadow: rgba(0,0,0,0.34) 0 12px 20px 0;
  color: #000;
}

.btn.btn-primary.disabled:hover {
  background: #e0c080;
  box-shadow: rgba(0,0,0,0) 0 12px 20px 0;
}

.text-center{
  text-align:center;
}

.valign {
  top: 50%;
  transform: translateY(-50%);
}

.body-sec {
  position: relative;
  padding: 120px 0;
}

.body-sm-sec {
  position: relative;
  padding: 60px 0;
}

.sm-body-sec {
  position: relative;
  padding: 60px 0 80px 0;
}

.bg-grey{
  background-color: #fdfdfd !important;
}

.bg-black {
  background-color: #000;
}

.body-bt-sec {
  position: relative;
  padding: 120px 0 200px;
}

.full-sec {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.sm-container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.xsm-container {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.full-container {
  width: 94%;
  margin: 0 auto;
  position: relative;
}

.full-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.para-bg {
  width: 100%;
  height: 130%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left:0;
  top:0;
}

.panel-header, .fs-img, .para-img-inner, .bi-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#home-program .panel-header {
  height: 140px;
  background-color: #ccc;
}

.dark-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}

@-webkit-keyframes scroll {
  0%   { -webkit-transform: translateY(-4px); }
  50% { -webkit-transform: translateY(4px); }
  100% { -webkit-transform: translateY(-4px); }
}
@-moz-keyframes scroll {
  0%   { transform: translateY(-4px); }
  50% { transform: translateY(4px); }
  100% { transform: translateY(-4px); }
}
@keyframes scroll {
  0%   { transform: translateY(-4px); }
  50% { transform: translateY(4px); }
  100% { transform: translateY(-4px); }
}

.side-cover {
  width: 48%;
  height: auto;
  position: absolute;
  top: 50%;
  display: block;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}

.img-left .side-cover {
  left: 0;
}

.img-right .side-cover {
  right: 0;
}

.intl-tel-input {
  display: block;
  width: 100%;
}

.intl-tel-input .country-list .country {
  padding: 10px;
  font-size: .9em;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 98;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

header.stuck {
  top:0;
}

.nav-up {
    top: -80px !important;
}

.nav-down .header-lower {
  
}

.header-lower {
  background-color: rgba(0, 0, 0, 0.10);
  padding: 18px 3%;
  position: relative;
  height: 80px;
}

.header-upper-nav {
  padding: 10px 3%;
  background-color: #20293e;
  position: relative;
}

.header-upper-nav a {
  color: #e0c080;
  font-size: .7em;
  font-weight: 700;
}

.header-upper-nav .pull-left a {
  margin-right: 10px;
}

.header-upper-nav .pull-right a {
  margin-left: 10px;
}

#rcb-btn {
  font-size: .7em;
  padding: 12px 20px 11px;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.footer-program-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 15px;
  font-size: .8em;
}

#main-nav {
  padding-right: 100px;
  float: left;
}


#main-nav a {
  display: inline-block;
  padding: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-size: 16px;
}

#main-nav a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F4484F;
    -webkit-transition: -webkit-transform .45s cubic-bezier(.835,-.005,.06,1);
    transition: -webkit-transform .45s cubic-bezier(.835,-.005,.06,1);
    transition: transform .45s cubic-bezier(.835,-.005,.06,1);
    transition: transform .45s cubic-bezier(.835,-.005,.06,1),-webkit-transform .45s cubic-bezier(.835,-.005,.06,1);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

#main-nav a.active:after, #main-nav a:hover:after {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.button-get-started {
  position: fixed;
  top: 14px;
  right: 10px;
  z-index: 10;
  -webkit-transition: top .45s cubic-bezier(.475,.425,0,.995);
  transition: top .45s cubic-bezier(.475,.425,0,.995);
}

.button-get-started {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #F4484F;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: color .45s cubic-bezier(.475,.425,0,.995);
  transition: color .45s cubic-bezier(.475,.425,0,.995);
}


.button-get-started.active {
    top: 100px;
    color: #fff;    
}

.button-get-started:hover {
  color: #fff;
}

.button-get-started:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F4484F;
    bottom: -1px;
    left: 0;
    -webkit-transition: all .45s cubic-bezier(.835,-.005,.06,1);
    transition: all .45s cubic-bezier(.835,-.005,.06,1);
    z-index: -1;
    will-change: transform;
}

.button-get-started.active:before, .button-get-started:hover:before {
    width: 180px;
    height: 55px;
    border-radius: 100px;
    left: -30px;
    -webkit-transform: translateY(13px);
    transform: translateY(13px);
    box-shadow: rgba(0,0,0,0.24) 0 4px 12px 0;    
}

#sub-nav a {
  display: inline-block;
  font-weight: 400;
  color: #20293e;
  font-size: .8em;
  padding: 18px 10px;
}

#sub-nav a:hover {
  color:#e0c080;
}

.icon-left i {
  margin-right: 10px;
  font-size:1.4em;
  line-height: 2;
}

.icon-right i {
  margin-left: 5px;
}

#sub-nav a.search-icon {
	font-size: 1.1em;
	padding: 15px 5px;
  position: relative;
  top: 3px;
}

.xsm-space {
  height: 10px;
}

.sm-space {
  height: 20px;
}

.md-space {
  height: 30px;
}

.lg-space {
  height: 60px;
}

.xlg-space {
  height: 160px;
}

.text-slider {
  color: #e0c080;
  overflow: hidden;
  position: relative;
  height: 21px;
}

.text-slider h6 {
  letter-spacing: .3em;
  line-height: 1.2;
}

.bg-content-slider h6 {
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
}

#logo {
  display: block;
  width: 200px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('../img/codeio-logo-01.png');
  position: absolute;
  left: 0px;
}

.content.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-track, .slick-slide, .slick-list, .fs-img {
  height: 100%;
}

.bg-slider {
  position: relative;
  height: 100%;
  background-color: #20293e;
}

.para-slide {
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.perspective {
  perspective: 900px;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
}

.np-sec {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.white-theme {
  background-color: #fff;
  color: #000;
}

.sm-desc {
  color: #999;
  font-size: .8em;
}


.light-theme {
  background-color: #fff;
  color: #000
}

 .light-theme .block-service {
  color: #fff;
 }

.light-theme .service-list .sub-service li {
  color: #000;
}


.light-theme .service-list .sub-service li:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #F4484F;
    position: absolute;
    left: 0;
    top: 12px;
}

.md-theme {
  color: #c9c9c9;
}

.md-theme h2 {
  color: #fff;
}

.dark-theme {
  color: #777;
}

.dark-theme h2, .dark-theme h5, .dark-theme h4, .dark-theme h3 {
  color: #20293e;
}

#home-welcome {
  height: 100%;
  z-index: 3;
  overflow: hidden;;
  background-repeat: no-repeat;
  min-height: 100%;
}



#home-welcome .align-right h4, #home-welcome .align-right h5 {
  font-size: 1.8em;
  letter-spacing: 1px;
  line-height: 1.1;   
}

.hero-overlay {
   height: 100%;
   width:100%;
   position: absolute;
   background-color: rgba(21, 21, 21, 0.80);
}

#grocode-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}


#home-welcome h1 {
  font-size: 8.0vw;
  letter-spacing: -9px;
  text-align: right;  
}

#home-welcome .align-right {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: -26px 0;
}

.img-text-sec .its-img {
  height: 90%;
  position: absolute;
  top: 5%;
  width: 48%;
  overflow: hidden;
}

.its-img-inner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 130%;
}

.img-left .its-content {
  float:right;
}

.img-left .its-img {
  left:0;
}

.img-right .its-img {
  right:0;
}

.bg-sec {
  padding: 100px 0;
  width: 94%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 18px rgba(0,0,0,0.28);
  overflow: hidden;
}

.lg-bg-sec {
  padding: 160px 0;
  width: 94%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 18px rgba(0,0,0,0.28);
  overflow: hidden;
}

.col-item-5 {
  float: left;
  width: 18.4%;
  margin-right: 2%;
}

.col-item-5:last-child {
  margin-right: 0;
}

.panel:hover .ph-button {
  opacity: 1;
}

.pg-side-item p.icon-left {
  font-size: .9em;
  margin-bottom: 5px;
}

.form .country-name {
  color: #555;
}

.form .col6 {
  margin-right: 4%;
}

#office-map {
  height: 440px;
  background-color: #666;
}

.form .col6:last-child {
  margin-right: 0;
}

textarea {
  min-height: 100px;
}

.text-col {
  padding: 30px 220px 30px 40px;
}

.pgi-link {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -20px;
}

.sm-text {
  font-size: .7em;
}

.img-col {
  overflow: hidden;
}

.pg-item h6, .pg-side-item h6 {
  letter-spacing: .2em;
  font-size: .85em;
  margin-bottom: 5px;
}

.pg-item h3 {
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 2px;
}

.pkg-option {
  position: relative;
  padding-left: 90px;
}

.pkg-number {
  font-size: 8em;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top:0;
  line-height: .8;
}

.panel:hover {
  box-shadow: 0px 7px 18px rgba(0,0,0,0.3);
}

.panel-body {
  padding: 20px;
}

.bold-para {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 1.2em;
}

.scroll-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  text-align: center;
  margin-left: -25px;
  bottom: 100px;
  color: #20293e;
  -webkit-animation: scroll 2s infinite ease-in-out;
  -moz-animation: scroll 2s infinite ease-in-out;
  animation: scroll 2s infinite ease-in-out;
}

.scroll-btn i {
  font-size: 2em;
  position: relative;
  top: 10px;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.scroll-btn-bg {
  background: linear-gradient(to right, #F4484F, #ffcf24);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 14px 16px 12px 17px;
  box-shadow: rgba(0,0,0,0.24) 0 8px 14px 0;
  position: absolute;
  left: 0;
  top: 0;
}

.fs-slider {
  position: relative;
  height: 460px;
}

.fs-slide {
  position: relative;
}

.fs-img {
  width: 110%;
}

.fs-content {
  width: 32%;
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.fs-content a {
  opacity: 0;
  transform: translateX(-80px);
  -webkit-transform: translateX(-80px);
}

.gold-panel {
  padding: 20px;
  background-color: #e0c080;
  display: block;
  width: 100%;
  color: #20293e;
  outline: 0;
}

.gold-panel h6 {
  color: #fff;
}

.action-sec {
  padding: 80px 40px;
  background-color: #fff;
  margin-top: -90px;
  box-shadow: rgba(0,0,0,0.24) 0 8px 14px 0;
}

.para-img {
  position: relative;
  overflow: hidden;
}

.cc3-height {
  height: 180px;
}

.cc4-height {
  height: 220px;
}

.cc6-height {
  height: 300px;
}

.pgi-img {
  height: 280px;
  position: relative;
  overflow: hidden;
}

.pgi-img h2 {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 80px 40px 20px;
  font-weight: 800;
  font-size: 3em;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.para-img-inner {
  height: 130%;
  width: 100%;
}

.action-sec .para-img {
  width: 57%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.alt-bg {
  background-color: #fff;
}

footer {
  padding: 20px 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #e0c080;
}

.footer-divider {
  padding: 40px 0;
}

.footer-logo {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 18%;
}

.footer-divide-line {
  width: 38%;
  height: 1px;
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  top: 50%;
}

.footer-divide-line.left {
  left: 0;
}

.footer-divide-line.right {
  right: 0;
}

.footer-upper h6 {
  font-size: .8em;
  letter-spacing: 0.2em;
  line-height: 1.4;
}

.footer-upper i {
  font-size: 2em;
  margin-bottom: 15px;
}

footer nav p {
  font-size:0.7em;
  line-height: 1.2;
}

.form-control {
  color: #fff;
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px 15px;
  font-weight: 400;
  background-color: transparent;
  border-bottom: 2px solid #6f6f6f;
  border-radius: 0px;
  font-size: .9em;
  font-family: "Poppins", Helvetica, Arial;
  width: 100%;
  outline: 0;
}


.form-control:focus {
    width: 100%;
    outline: none;
    border-bottom: 1px solid #ffcf24;
    background-position: 0 0;
    visibility: visible !important;
}


label {
  display: block;
  font-weight: 700;
  margin-bottom: 7px;
  text-align: left;
  text-transform: uppercase;
}

.input-group .form-control {
  width: 70%;
  float: left;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-group .btn {
  width: 30%;
  float: left;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.social-icons a {
	display: inline-block;
	margin: 0 10px;
	font-size: 2em;
  color:#fff;
}

.footer-lower {
  font-size: .75em;
}

.footer-lower a {
  font-size: .9em;
  margin-left: 10px;
}

.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.preload-cover {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #F4484F, #ffcf24);
	transform-origin: right center;
	-webkit-transform-origin: right center;
}

.loader {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;;
  border: 4px solid #20293e;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #20293e;
  animation: loader-inner 2s infinite ease-in;
}

.bg-content-slider {
  overflow: hidden;
  position: absolute;
  width: 600px;
  left: 50%;
  bottom: 80px;
  margin-left: -300px;
  text-align: center;
  color: #e0c080;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 10px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: .9em;
}

th {
  text-align: left;
  color: #e0c080;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-top: none;
}

.content-slider .slick-slide {
  height: auto;
}

.i-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ffae24, #ffd442);
  border-radius: 5px;
  transform-origin: bottom center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
}

.i-cover.shift {
  transform-origin: top center;
}

.s1 {
  opacity: 0;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
      backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.s2 {
  opacity: 0;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
      backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.slideup {
  opacity: 0;
  transform: translateY(60px);
  -webkit-transform: translateY(60px);
}

.slidedown {
  opacity: 0;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
}

.slideleft {
  opacity: 0;
  transform: translateX(60px);
  -webkit-transform: translateX(60px);
}

.slideright {
  opacity: 0;
  transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
}

.scalex {
  transform: scale(0,1);
  -webkit-transform: scale(0,1);
}

.scaleup {
  opacity: 0;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
}

.slidein {
  position: relative;
  overflow: hidden;
}

.fade {
  opacity: 0;
}

.slidein > * {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;
  color: rgb(32,41,62);
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;
  outline: none;
  border-radius: 6px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: left;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background-color: rgba(32,41,62,0.7);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
  text-align: center;
}

/* Default theme styles of the modal dialog */

.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close i {
  font-size: 2.2em;
}


/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
}

select.form-control option {
   background: #000;
}

.select-group i {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 1.4em;
  color: #777;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #777;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #777;
}
:-moz-placeholder { /* Firefox 18- */
  color: #777;
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 800px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.lg-icon {
  font-size: 3em;
  color: #e0c080;
}

.md-icon {
  font-size: 1.8em;
  color: #e0c080;
}

.para-bg, .pc-bg, .fade, .scalex, .slideright, .slideleft, .slidedown, .para-img-inner, .scaleup, .gold-panel, .panel, .para-img-inner, .its-img-inner, .slideup, .slidein > *, .preload-cover {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/*Works*/

.work {
    height: 550px;
    position: relative;
    display: block;
    overflow: hidden; 
    color: #fff;       
}

.work .bg-container {
    height: 550px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;    
}

.work .bg-container:hover {
    transform: scale(1.2);
}

.work .bg-container:before { 
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.31));
    transition: all .3s ease-out;
}

.work .work-content{
  position: absolute;
  top: 0;
  margin: 44px 48px;
  color:#fff;
  text-align: left;
  z-index: 10;
}

.work-content h2 {
  font-size: 1.6em;
  margin-bottom: 10px
}

.work-content span {
  font-size: 1.6em;
}


/*Services*/

#home-hero-vid {
    width: 80%;
    left: 10%;
    position: relative;
}

.border-line {
    margin-top: 28px;
}

.border-line {
    width: 76px;
    height: 1px;
    border: 1px solid #F4484F;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;    
    webkit-transform-origin: right;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;

}

.service-list i.icon {
    transition: 0.4s;
    cursor: pointer;
    display: block;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;   
}

.service-list h3 {
    margin-left: 30px;
}

.service-list .sub-service {
    display: inline-block;
    text-align: left;
    padding: 0;
}

.service-list .sub-service li {
    display: block;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.06;
    letter-spacing: 0.1px;
    text-align: left;
    color: #fff;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;    
}

#clients img {
  height: 150px;
}

.block-service {
    display: block;
    height: 350px;
    position: relative;
    background: #2f2f2f;
    transform: translateZ(0);
}

.block-service .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 2;   
}

.block-service .bg:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.31));
    transition: all .3s ease-out;
}

.block-service .caption {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;    
}

#contact {
  background-color: #3D3D45;
  color: #fff;
}

#contact .pg-side-item a {
  color: #fff;
}

#contact .pg-side-item a:hover {
  color: #F4484F;
}


#contact .social-icons a {
  color: #fff;
}

#contact .social-icons a:hover {
  color: #F4484F;
}

#contactform label.error {
    position: absolute;
    left: unset;
    right: 30px;
    top: 0;
}

#contactform label.error { 
  color: #f00; 
  font-size: 12px;
}
.form-control.error {border-color: #f00;}

span.alert {
  display: inline-block; 
  margin-top: 20px;
}

#result { 
  display: block; 
  margin-top: 30px;
}

.form-group {
    position: relative;
}

.mandatory { 
 color: #e9ad57;
 font-weight: 400; 
}

.hide-mobile {
  display: block;
}

.show-mobile {
  display: none;
}

@media (min-width:1920px) {

  .body-sec {
    padding: 160px 0;
  }

}


@media (max-width:1024px) {
  
  .sm-container{
    width: 90%;
  }

  .sm-body-sec {
    padding: 60px 0;
  }
 
  .service-list {
     margin-bottom: 20px;
  }

} 

@media (max-width: 768px) {
    
    #home-welcome h1 {
      font-size: 9vw;
      letter-spacing: -5px;  
    }   

   .page-slide .md-space {
      height: 0;
   }

   .block-service {
     margin-bottom: 20px;
   } 

   .work {
     margin-bottom: 20px;
   }   

   .service-list {
     width: 47%;
     float: left;
     margin-bottom: 20px;
   }

   .client-logo .client-img {
      width: 47%;
      float: left;
      margin-bottom: 20px;
   }

   .form {
    margin-bottom: 20px
   }

   .form-control {
     margin-bottom: 20px;
   } 

   .select-group i {
     margin-bottom: 30px;
   } 


}

@media (max-width: 480px) {

  #logo {
    width: 157px;
  }

  .center-content {
    width: 90%;
    top: 53%;    
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

   #home-welcome .align-right {
    margin-bottom: 10px;
   } 

  #home-welcome .align-right h4, #home-welcome .align-right h5 {
   font-size: 1.3em;
   letter-spacing: 0;
   line-height: 1.1;   
  }

  #home-welcome h1 {
    font-size: 22vw;
    letter-spacing: -5px;
    line-height: 0.9;
  }

  .service-list i.icon {
    margin-left: 0;
  }  

  .service-list h3 {
    margin-left: 0;
  }  

  h2 {
    font-size: 2.2em;
  }

  .lg-space{
    height: 30px;
  }

  .sm-body-sec {
    padding: 40px 0;
  }
 
   #main-nav {
    display: none;
   }

   .work {
    height: 260px;
    margin-bottom: 20px;
   }

   .work-content h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
   }

   .page-slide .md-space {
      height: 0;
   }

   .work .bg-container {
      height: 260px;
   }

   .work .work-content {
      margin: 20px 20px;
   }

   .service-list {
     width: 100%;
     margin-left: 20px;
     margin-bottom: 20px;
   }

   .block-service {
     height: 260px;
     margin-bottom: 20px;
   }

   .button-get-started.active {
      display: none;
    }

   #clients h3 {
     font-size: 1.4em;
     margin-bottom: 20px;
   }

  .work-content span {
      font-size: 1.3em;
  }   

   #clients img {
    height: 100px;
   }

  .button-get-started.active {
      font-size: 0.9em;
  }   

  .button-get-started.active:before, .button-get-started:hover:before {
      width: 160px;
      height: 50px;
      border-radius: 100px;
      left: -27px;
      -webkit-transform: translateY(13px);
      transform: translateY(13px);
      box-shadow: rgba(0,0,0,0.24) 0 4px 12px 0;
  }   

  .btn.btn-primary {
    padding: 10px 28px;
  }

  .scroll-btn  {
    bottom: 30px; 
  }
 
}
